.video-des{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    color: #272f54;
}
.v1{
  padding: 25px;
  color: #fff;
  border: none;

}
.card1{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
    width: 280px;
    box-shadow: 2px 2px 10px #1f1f1f;
    border-radius: 5px;
   
}
.card1:hover{
    scale: 0.9;
}
.v-title{
    font-size: 19px;
    font-weight: bold;
    color: black;
    }
.v-sub{
    margin-top: 14px;
    font-size: 17px;
    color: #272f54;
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin: 40px;
    
}